@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e44ad;
}

.tab-navigation {
  width: 340px;
  height: 600px;
  border: 3px solid #EEE;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.image{
  position: absolute;
  top: 0;
  left: 0;
  height: 540px;
  object-fit: cover;
  opacity: 0;
}

.images li:first-child .image {
  opacity: 1;
}

.show { opacity: 1;}

nav {
  padding: 12px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  
}

.home,
.work,
.blog,
.about {
  display: block;
  text-indent: -9999px;
  padding-right: 27%;
}

.home::after,
.work::after,
.blog::after,
.about::after {
  color:#777;
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
}

.home::after { content: "\e3af";}
.work::after { content: "\f0b1";}
.blog::after { content: "\f518"; }
.about::after { content: "\f500" }


.links {
  display: flex;
  justify-content: space-around;
}

.links li a{ color:#777 }
nav ul li { cursor: pointer;}

.home:hover::after,
.work:hover::after,
.blog:hover::after,
.about:hover::after,
.links li a:hover,
.links li.active a,
.links li.active .home::after,
.links li.active .work::after,
.links li.active .blog::after,
.links li.active .about::after{
  color: #8e44ad;
}

.active {
  color: #8e44ad;
}

/*=================================
  main styling ends here
=================================*/
